<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcireasa.quizzapp">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MeniuProfesorActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".CreateTestActivity" />
        <activity android:name=".NewsFeedActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".CategoryOptionsActivity" />
        <activity android:name=".TestsActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MeniuStudentActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".StartTest" />
        <activity android:name=".QuestionFormActivity" />
        <activity android:name=".AnswersFormActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".NrQuestionsForm"></activity>
    </application>

</manifest>